@using ECommerce.BLL.Features.Stocks.Requests
@using ECommerce.Core.Enums
@using ECommerce.DAL.Enums
@{
    ViewData["Title"] = "Stock List";
}
@inject IStringLocalizer<AccountController> _Localizer;
@inject ILocalizationManger _localizationManger;

@section VendorStyles {
}

@* ************** Content ************** *@
<h1 class="py-3 mb-4">
    @_Localizer["StockList"]
</h1>

<div class="d-flex justify-content-end">
    <div class="mb-3">
        <button class="btn btn-secondary create-new btn-primary" tabindex="0" aria-controls="DataTables_Table_0" data-bs-toggle="modal" data-bs-target="#CreateFormModal" type="button">
            <span>
                <span class="mdi mdi-plus"></span>
                <span class="d-none d-lg-inline-block">@_Localizer[nameof(OperationTypeEnum.Create)] @_Localizer[nameof(EntitiesEnum.Stock)]</span>
            </span>
        </button>
    </div>
</div>

<div class="card">
    <div class="card-datatable table-responsive pt-0">
        <table id="StockList" class="datatables-basic table table-hover table-responsive">
            <thead>
                <tr>
                    <th>@_Localizer[Constants.EntityKeys.Product]</th>
                    <th>@_Localizer[Constants.EntityKeys.Vendor]</th>
                    <th>@_Localizer[Constants.EntityKeys.Quantity]</th>
                    <th>@_Localizer[Constants.EntityKeys.CreatedAt]</th>
                    <th>@_Localizer[Constants.LabelKeys.Action]</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<!-- Modal to Delete new record -->
<div class="modal fade" id="DeleteRecord" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" Stock="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalCenterTitle">@_Localizer[nameof(OperationTypeEnum.Delete)] @_Localizer[nameof(EntitiesEnum.Stock)]</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="deleteRecordId">
                <h5>@_Localizer["DeleteModalMessage"]</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">@_Localizer[Constants.LabelKeys.Close]</button>
                <button type="submit" class="btn btn-danger" id="deleteRecordButton" onclick="DeleteRecord('Stock','Delete','StockList')">@_Localizer["Delete"]</button>
            </div>
        </div>
    </div>
</div>

@section VendorScripts {
}


@section PageScripts {
    <script>
        var tableColumns = [
            { data: 'product', render: function (data) { return `<a href="/Product/Details/${data.id}" target="_blank" class="">${data.title}</a>`; } },
            { data: 'vendor.name', },
            { data: 'Quantity' },
            {
                data: 'createAt',
                render: function (data, type, row) {
                    return convertUTCToLocal(data);
                }
            }
        ];
        initializeDataTable('StockList', 'Stock', 'Table', tableColumns, '@_localizationManger.Language', true);
    </script>
}