@using ECommerce.BLL.Features.Feedbacks.Requests
@using ECommerce.Core.Enums
@using ECommerce.DAL.Enums
@{
    ViewData["Title"] = "Feedback List";
}
@inject IStringLocalizer<AccountController> _Localizer;
@inject ILocalizationManger _localizationManger;

@section VendorStyles {
}

@* ************** Content ************** *@
<h1 class="py-3 mb-4">
    @_Localizer["FeedbackList"]
</h1>

<div class="d-flex justify-content-end">
    <div class="mb-3">
    </div>
</div>

<div class="card">
    <div class="card-datatable table-responsive pt-0">
        <table id="FeedbackList" class="datatables-basic table table-hover table-responsive">
            <thead>
                <tr>
                    <th>@_Localizer[Constants.EntityKeys.User]</th>
                    <th>@_Localizer[Constants.EntityKeys.Rating]</th>
                    <th>@_Localizer[Constants.EntityKeys.Comment]</th>
                    <th>@_Localizer[Constants.EntityKeys.CreatedAt]</th>
                    <th>@_Localizer[Constants.LabelKeys.Action]</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<!-- Modal to Delete new record -->
<div class="modal fade" id="DeleteRecord" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" Feedback="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalCenterTitle">@_Localizer[nameof(OperationTypeEnum.Delete)] @_Localizer[nameof(EntitiesEnum.Feedback)]</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="deleteRecordId">
                <h5>@_Localizer["DeleteModalMessage"]</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">@_Localizer[Constants.LabelKeys.Close]</button>
                <button type="submit" class="btn btn-danger" id="deleteRecordButton" onclick="DeleteRecord('Feedback','Delete','FeedbackList')">@_Localizer["Delete"]</button>
            </div>
        </div>
    </div>
</div>

@section VendorScripts {
}


@section PageScripts {
    <script>
        var tableColumns = [
            {
                data: 'user', render: function (data, type, row) {
                    return userRender(data);
                }
            }, 
            {
                data: 'rating', render: function (data, type, row) {
                    return ratingRender(data);
                }
            },
            { data: 'comment' },
            {
                data: 'createAt', render: function (data, type, row) {
                    return convertUTCToLocal(data);
                }
            },
            {
                data: 'id', render: function (data, type, row) {
                    return `
                                 <div class="dropdown">
                                    <button class="btn p-0" type="button" id="organicSessionsDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="mdi mdi-dots-vertical mdi-24px"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="organicSessionsDropdown">
                                            <a class="dropdown-item" onclick="setDeleteRecordId('${data}')" data-bs-toggle="modal" data-bs-target="#DeleteRecord" href="javascript:void(0);">
                                                @_Localizer["Delete"]
                                        </a>
                                    </div>
                                </div>
                `               ;
                }
            }

        ];
        initializeDataTable('FeedbackList', 'Feedback', 'Table', tableColumns, '@_localizationManger.Language', false);
    </script>
}