@inject IStringLocalizer<HomeController> _Localizer;
@using ECommerce.Core.Helpers
@using ECommerce.Core.PermissionsClaims
@using ECommerce.DAL.Entity
@using ECommerce.Portal.Controllers
@using Microsoft.Extensions.Localization
@{
    TempData.Keep();
    string? currentPage = ViewContext.HttpContext.Request.Path;
    var permissions = new List<string>();
    var hasMangment = AuthHelper.CanAccess(permissions, Permissions.Category.View)
        || AuthHelper.CanAccess(permissions, Permissions.SubCategory.View)
        || AuthHelper.CanAccess(permissions, Permissions.Brand.View)
        || AuthHelper.CanAccess(permissions, Permissions.Color.View)
        || AuthHelper.CanAccess(permissions, Permissions.Unit.View)
        || AuthHelper.CanAccess(permissions, Permissions.Size.View)
        || AuthHelper.CanAccess(permissions, Permissions.Tag.View)
        || AuthHelper.CanAccess(permissions, Permissions.Governorate.View)
        || AuthHelper.CanAccess(permissions, Permissions.Status.View)
        || AuthHelper.CanAccess(permissions, Permissions.Area.View);

    var activeManger = AuthHelper.OpenMenuItem(new List<string>
    {
        $"/{nameof(Area)}",
        $"/{nameof(Governorate)}",
        $"/{nameof(Tag)}",
        $"/{nameof(Size)}",
        $"/{nameof(Unit)}",
        $"/{nameof(Color)}",
        $"/{nameof(Brand)}",
        $"/{nameof(SubCategory)}",
        $"/{nameof(Status)}",
        $"/{nameof(Category)}",
    },currentPage);

    var hasFinancials= AuthHelper.CanAccess(permissions, Permissions.Voucher.View)
       || AuthHelper.CanAccess(permissions, Permissions.Expense.View)
        || AuthHelper.CanAccess(permissions, Permissions.Invoice.View);

    var activeFinancials = AuthHelper.OpenMenuItem(new List<string>
    {
        $"/{nameof(Voucher)}",
        $"/{nameof(Expense)}",
        $"/{nameof(Invoice)}"
    }, currentPage);
}

<!-- Menu -->
@* ! Do this simple *@
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">

    @* ! Hide app brand if navbar-full *@
    <div class='app-brand demo @((@ViewData["navbarFull"] != null && Convert.ToBoolean(@ViewData["navbarFull"])) ? "d-xl-none" : "")'>
        <a href="/" class="app-brand-link">
            <span class="app-brand-logo demo">
                @await Html.PartialAsync("../_Partials/_Macros")
            </span>
            <span class="app-brand-text demo menu-text fw-bold ms-2">@TempData.Peek("appName")</span>
        </a>

        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
            <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M11.4854 4.88844C11.0081 4.41121 10.2344 4.41121 9.75715 4.88844L4.51028 10.1353C4.03297 10.6126 4.03297 11.3865 4.51028 11.8638L9.75715 17.1107C10.2344 17.5879 11.0081 17.5879 11.4854 17.1107C11.9626 16.6334 11.9626 15.8597 11.4854 15.3824L7.96672 11.8638C7.48942 11.3865 7.48942 10.6126 7.96672 10.1353L11.4854 6.61667C11.9626 6.13943 11.9626 5.36568 11.4854 4.88844Z" fill="currentColor" fill-opacity="0.6" />
                <path d="M15.8683 4.88844L10.6214 10.1353C10.1441 10.6126 10.1441 11.3865 10.6214 11.8638L15.8683 17.1107C16.3455 17.5879 17.1192 17.5879 17.5965 17.1107C18.0737 16.6334 18.0737 15.8597 17.5965 15.3824L14.0778 11.8638C13.6005 11.3865 13.6005 10.6126 14.0778 10.1353L17.5965 6.61667C18.0737 6.13943 18.0737 5.36568 17.5965 4.88844C17.1192 4.41121 16.3455 4.41121 15.8683 4.88844Z" fill="currentColor" fill-opacity="0.38" />
            </svg>
        </a>
    </div>

    <div class="menu-inner-shadow"></div>

  @* ! Starter Kit menu-items *@
  <ul class="menu-inner py-1">
        @if (AuthHelper.CanAccess(permissions, Permissions.Views.Dashboard))
        {
            <li class='menu-item @(currentPage == "/" ? "active open":"") @(AuthHelper.OpenMenuItem(new List<string> {"/Dashboard/Statistics"},currentPage))'>
                  <a asp-controller="Dashboard" asp-action="Statistics" class="menu-link">
                      <i class="menu-icon tf-icons mdi mdi-chart-pie"></i>
              <div data-i18n="@_Localizer[Constants.LabelKeys.Statistics]">@_Localizer[Constants.LabelKeys.Statistics]</div>
            </a>
          </li>
        }

        @if (AuthHelper.CanAccess(permissions, Permissions.Users.View) || AuthHelper.CanAccess(permissions, Permissions.Role.View))
        {
            <li class='menu-item @(AuthHelper.OpenMenuItem(new List<string>{ "/Role","/Account"},currentPage))'>
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                    <i class='menu-icon tf-icons mdi mdi-cog-outline'></i>
                    <div data-i18n="@_Localizer[Constants.LabelKeys.UserManagement]">@_Localizer[Constants.LabelKeys.UserManagement]</div>
                </a>
                <ul class="menu-sub">
                    @if (AuthHelper.CanAccess(permissions, Permissions.Users.View))
                    {
                        <li class='menu-item @(AuthHelper.OpenMenuItem(new List<string>{"/Account"},currentPage))'>
                            <a asp-controller="Account" asp-action="List" class="menu-link">
                                <div data-i18n="@_Localizer[string.Concat(Constants.EntityKeys.User, "s")]">@_Localizer[string.Concat(Constants.EntityKeys.User, "s")]</div>
                            </a>
                        </li>
                    }
                    @if (AuthHelper.CanAccess(permissions, Permissions.Role.View))
                    {
                        <li class='menu-item @(AuthHelper.OpenMenuItem(new List<string>{ "/Role"},currentPage))'>
                            <a asp-controller="@nameof(Role)" asp-action="List" class="menu-link">
                                <div data-i18n="@_Localizer[string.Concat(Constants.EntityKeys.Role, "s")]">@_Localizer[string.Concat(Constants.EntityKeys.Role, "s")]</div>
                            </a>
                        </li>
                    }
                </ul>
            </li>
        }

        @if (hasMangment)
        {
            <li class='menu-item @(activeManger)'>
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                    <i class='menu-icon tf-icons mdi mdi-cog-outline'></i>
                    <div data-i18n="@_Localizer["Management"]">@_Localizer["Management"]</div>
                </a>
                <ul class="menu-sub">
                    @if (AuthHelper.CanAccess(permissions, Permissions.Category.View))
                    {
                        <li class='menu-item @(AuthHelper.OpenMenuItem(new List<string>{$"/{nameof(Category)}"},currentPage))'>
                            <a asp-controller="@nameof(Category)" asp-action="List" class="menu-link">
                                <div data-i18n="@_Localizer[string.Concat(Constants.EntityKeys.Category, "s")]">@_Localizer[string.Concat(Constants.EntityKeys.Category, "s")] </div>
                            </a>
                        </li>
                    }
                    @if (AuthHelper.CanAccess(permissions, Permissions.SubCategory.View))
                    {
                        <li class='menu-item@(AuthHelper.OpenMenuItem(new List<string>{$"/{nameof(SubCategory)}"},currentPage))'>
                            <a asp-controller="@nameof(SubCategory)" asp-action="List" class="menu-link">
                                <div data-i18n="@_Localizer[string.Concat(Constants.EntityKeys.SubCategory, "s")]">@_Localizer[string.Concat(Constants.EntityKeys.SubCategory, "s")]</div>
                            </a>
                        </li>
                    }
                    @if (AuthHelper.CanAccess(permissions, Permissions.Brand.View))
                    {
                        <li class='menu-item @(AuthHelper.OpenMenuItem(new List<string>{$"/{nameof(Brand)}"},currentPage))'>
                            <a asp-controller="@nameof(Brand)" asp-action="List" class="menu-link">
                                <div data-i18n="@_Localizer[string.Concat(Constants.EntityKeys.Brand, "s")]">@_Localizer[string.Concat(Constants.EntityKeys.Brand, "s")]</div>
                            </a>
                        </li>
                    }
                    @if (AuthHelper.CanAccess(permissions, Permissions.Color.View))
                    {
                        <li class='menu-item @(AuthHelper.OpenMenuItem(new List<string>{$"/{nameof(Color)}"},currentPage))'>
                            <a asp-controller="@nameof(Color)" asp-action="List" class="menu-link">
                                <div data-i18n="@_Localizer[string.Concat(Constants.EntityKeys.Color, "s")]">@_Localizer[string.Concat(Constants.EntityKeys.Color, "s")]</div>
                            </a>
                        </li>
                    }
                    @if (AuthHelper.CanAccess(permissions, Permissions.Unit.View))
                    {
                        <li class='menu-item @(AuthHelper.OpenMenuItem(new List<string>{$"/{nameof(Unit)}"},currentPage))'>
                            <a asp-controller="@nameof(Unit)" asp-action="List" class="menu-link">
                                <div data-i18n="@_Localizer[string.Concat(Constants.EntityKeys.Unit, "s")]">@_Localizer[string.Concat(Constants.EntityKeys.Unit, "s")]</div>
                            </a>
                        </li>
                    } @if (AuthHelper.CanAccess(permissions, Permissions.Size.View))
                    {
                        <li class='menu-item @(AuthHelper.OpenMenuItem(new List<string>{$"/{nameof(Size)}"},currentPage))'>
                            <a asp-controller="@nameof(Size)" asp-action="List" class="menu-link">
                                <div data-i18n="@_Localizer[string.Concat(Constants.EntityKeys.Size, "s")]">@_Localizer[string.Concat(Constants.EntityKeys.Size, "s")]</div>
                            </a>
                        </li>
                    }
                    @if (AuthHelper.CanAccess(permissions, Permissions.Tag.View))
                    {
                        <li class='menu-item @(AuthHelper.OpenMenuItem(new List<string>{$"/{nameof(Tag)}"},currentPage))'>
                            <a asp-controller="@nameof(Tag)" asp-action="List" class="menu-link">
                                <div data-i18n="@_Localizer[string.Concat(Constants.EntityKeys.Tag, "s")]">@_Localizer[string.Concat(Constants.EntityKeys.Tag, "s")]</div>
                            </a>
                        </li>
                    }
                    @if (AuthHelper.CanAccess(permissions, Permissions.Status.View))
                    {
                        <li class='menu-item @(AuthHelper.OpenMenuItem(new List<string>{$"/{nameof(Status)}"},currentPage))'>
                            <a asp-controller="@nameof(Status)" asp-action="List" class="menu-link">
                                <div data-i18n="@_Localizer[Constants.EntityKeys.Status]">@_Localizer[Constants.EntityKeys.Status] </div>
                            </a>
                        </li>
                    }

                     @if (AuthHelper.CanAccess(permissions, Permissions.Governorate.View))
                    {
                        <li class='menu-item @(AuthHelper.OpenMenuItem(new List<string>{$"/{nameof(Governorate)}"},currentPage))'>
                            <a asp-controller="@nameof(Governorate)" asp-action="List" class="menu-link">
                                <div data-i18n="@_Localizer[string.Concat(Constants.EntityKeys.Governorate, "s")]">@_Localizer[string.Concat(Constants.EntityKeys.Governorate, "s")]</div>
                            </a>
                        </li>
                    }

                    @if (AuthHelper.CanAccess(permissions, Permissions.Area.View))
                    {
                        <li class='menu-item @(AuthHelper.OpenMenuItem(new List<string>{$"/{nameof(Area)}"},currentPage))'>
                            <a asp-controller="@nameof(Area)" asp-action="List" class="menu-link">
                                <div data-i18n="@_Localizer[string.Concat(Constants.EntityKeys.Area, "s")]">@_Localizer[string.Concat(Constants.EntityKeys.Area, "s")]</div>
                            </a>
                        </li>
                    }
                </ul>
            </li>
        }
        @if (AuthHelper.CanAccess(permissions, Permissions.Product.View))
        {
            <li class='menu-item @(AuthHelper.OpenMenuItem(new List<string>{$"/{nameof(Product)}"},currentPage))'>
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                    <i class='menu-icon tf-icons mdi mdi-cog-outline'></i>
                    <div data-i18n="@_Localizer[Constants.LabelKeys.ProductManagement]">@_Localizer[Constants.LabelKeys.ProductManagement]</div>
                </a>
                <ul class="menu-sub">
                    @if (AuthHelper.CanAccess(permissions, Permissions.Product.View))
                    {
                        <li class='menu-item @(AuthHelper.OpenMenuItem(new List<string>{$"/{nameof(Product)}"},currentPage))'>
                            <a asp-controller="@nameof(Product)" asp-action="List" class="menu-link">
                                <div data-i18n="@_Localizer[string.Concat(Constants.EntityKeys.Product, "s")]">@_Localizer[string.Concat(Constants.EntityKeys.Product, "s")] </div>
                            </a>
                        </li>
                    }
                    @if (AuthHelper.CanAccess(permissions, Permissions.Product.View))
                    {
                        <li class='menu-item @(AuthHelper.OpenMenuItem(new List<string>{$"/{nameof(Product)}"},currentPage))'>
                            <a asp-controller="@nameof(Favorite)" asp-action="List" class="menu-link">
                                <div data-i18n="@_Localizer[string.Concat(Constants.EntityKeys.Favorite, "s")]">@_Localizer[string.Concat(Constants.EntityKeys.Favorite, "s")] </div>
                            </a>
                        </li>
                    }
                    @if (AuthHelper.CanAccess(permissions, Permissions.Cart.View))
                    {
                        <li class='menu-item @(AuthHelper.OpenMenuItem(new List<string>{$"/{nameof(ShoppingCart)}"},currentPage))'>
                            <a asp-controller="@nameof(ShoppingCart)" asp-action="List" class="menu-link">
                                <div data-i18n="@_Localizer[string.Concat(Constants.EntityKeys.Cart, "s")]">@_Localizer[string.Concat(Constants.EntityKeys.Cart, "s")] </div>
                            </a>
                        </li>
                    }
                    @if (AuthHelper.CanAccess(permissions, Permissions.Views.Booking))
                    {
                        <li class='menu-item @(AuthHelper.OpenMenuItem(new List<string>{$"/{nameof(Booking)}"},currentPage))'>
                            <a asp-controller="@nameof(Booking)" asp-action="List" class="menu-link">
                                <div data-i18n="@_Localizer[string.Concat(Constants.EntityKeys.Booking, "s")]">@_Localizer[string.Concat(Constants.EntityKeys.Booking, "s")] </div>
                            </a>
                        </li>
                    }
                </ul>
            </li>
        }

        @if (AuthHelper.CanAccess(permissions, Permissions.Order.View))
        {
            <li class='menu-item @(AuthHelper.OpenMenuItem(new List<string>{$"/{nameof(Order)}"},currentPage))'>
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                    <i class='menu-icon tf-icons mdi mdi-cog-outline'></i>
                    <div data-i18n="@_Localizer["OrderManagement"]">@_Localizer["OrderManagement"]</div>
                </a>
                <ul class="menu-sub">
                    @if (AuthHelper.CanAccess(permissions, Permissions.Order.View))
                    {
                        <li class='menu-item @(AuthHelper.OpenMenuItem(new List<string>{$"/{nameof(Order)}"},currentPage))'>
                            <a asp-controller="@nameof(Order)" asp-action="List" class="menu-link">
                                <div data-i18n="@_Localizer[string.Concat(Constants.EntityKeys.Order, "s")]">@_Localizer[string.Concat(Constants.EntityKeys.Order, "s")] </div>
                            </a>
                        </li>
                    }
                    @if (AuthHelper.CanAccess(permissions, Permissions.Order.View))
                    {
                        <li class='menu-item @(AuthHelper.OpenMenuItem(new List<string>{$"/{nameof(Order)}"},currentPage))'>
                            <a asp-controller="@nameof(Order)" asp-action="Calender" class="menu-link">
                                <div data-i18n="@_Localizer[Constants.LabelKeys.Calender]">@_Localizer[Constants.LabelKeys.Calender] </div>
                            </a>
                        </li>
                    }
                    @if (AuthHelper.CanAccess(permissions, Permissions.Order.View))
                    {
                        <li class='menu-item @(AuthHelper.OpenMenuItem(new List<string>{$"/{nameof(Order)}"},currentPage))'>
                            <a asp-controller="@nameof(Order)" asp-action="Kanban" class="menu-link">
                                <div data-i18n="@_Localizer[Constants.LabelKeys.Kanban]">@_Localizer[Constants.LabelKeys.Kanban] </div>
                            </a>
                        </li>
                    }                   
                </ul>
            </li>
        }

        @if (AuthHelper.CanAccess(permissions, Permissions.Vendor.View))
        {
            <li class='menu-item @(AuthHelper.OpenMenuItem(new List<string>{$"/{nameof(Vendor)}"},currentPage))'>
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                    <i class='menu-icon tf-icons mdi mdi-cog-outline'></i>
                    <div data-i18n="@_Localizer["StockManagement"]">@_Localizer["StockManagement"]</div>
                </a>
                <ul class="menu-sub">
                    @if (AuthHelper.CanAccess(permissions, Permissions.Stock.View))
                    {
                        <li class='menu-item @(AuthHelper.OpenMenuItem(new List<string>{$"/{nameof(Stock)}"},currentPage))'>
                            <a asp-controller="@nameof(Stock)" asp-action="List" class="menu-link">
                                <div data-i18n="@_Localizer[Constants.EntityKeys.Stock]">@_Localizer[Constants.EntityKeys.Stock] </div>
                            </a>
                        </li>
                    }

                    @if (AuthHelper.CanAccess(permissions, Permissions.Category.View))
                    {
                        <li class='menu-item @(AuthHelper.OpenMenuItem(new List<string>{$"/{nameof(Vendor)}"},currentPage))'>
                            <a asp-controller="@nameof(Vendor)" asp-action="List" class="menu-link">
                                <div data-i18n="@_Localizer[string.Concat(Constants.EntityKeys.Vendor, "s")]">@_Localizer[string.Concat(Constants.EntityKeys.Vendor, "s")] </div>
                            </a>
                        </li>
                    }
                </ul>
            </li>
        }

        @if (hasFinancials)
        {
            <li class='menu-item @(AuthHelper.OpenMenuItem(new List<string>{$"/{nameof(Voucher)}",$"/{nameof(Expense)}"},currentPage))'>
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                    <i class='menu-icon tf-icons mdi mdi-cog-outline'></i>
                    <div data-i18n="@_Localizer["FinancialsManagement"]">@_Localizer["FinancialsManagement"]</div>
                </a>
                <ul class="menu-sub">
                    @if (AuthHelper.CanAccess(permissions, Permissions.Invoice.View))
                    {
                        <li class='menu-item @(AuthHelper.OpenMenuItem(new List<string>{$"/{nameof(Invoice)}"},currentPage))'>
                            <a asp-controller="@nameof(Invoice)" asp-action="List" class="menu-link">
                                <div data-i18n="@_Localizer[string.Concat(Constants.EntityKeys.Invoice, "s")]">@_Localizer[string.Concat(Constants.EntityKeys.Invoice, "s")]</div>
                            </a>
                        </li>
                    }

                    @if (AuthHelper.CanAccess(permissions, Permissions.Expense.View))
                    {
                        <li class='menu-item @(AuthHelper.OpenMenuItem(new List<string>{$"/{nameof(Expense)}"},currentPage))'>
                            <a asp-controller="@nameof(Expense)" asp-action="List" class="menu-link">
                                <div data-i18n="@_Localizer[string.Concat(Constants.EntityKeys.Expense, "s")]">@_Localizer[string.Concat(Constants.EntityKeys.Expense, "s")] </div>
                            </a>
                        </li>
                    }

                    @if (AuthHelper.CanAccess(permissions, Permissions.Voucher.View))
                    {
                        <li class='menu-item @(AuthHelper.OpenMenuItem(new List<string>{$"/{nameof(Voucher)}"},currentPage))'>
                            <a asp-controller="@nameof(Voucher)" asp-action="List" class="menu-link">
                                <div data-i18n="@_Localizer[string.Concat(Constants.EntityKeys.Voucher, "s")]">@_Localizer[string.Concat(Constants.EntityKeys.Voucher, "s")]</div>
                            </a>
                        </li>
                    }
                </ul>
            </li>
        }

        @if (AuthHelper.CanAccess(permissions, Permissions.Feedback.View))
        {
            <li class='menu-item @(AuthHelper.OpenMenuItem(new List<string>{$"/{nameof(Feedback)}"},currentPage))'>
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                    <i class='menu-icon tf-icons mdi mdi-cog-outline'></i>
                    <div data-i18n="@_Localizer[Constants.LabelKeys.Reviews]">@_Localizer[Constants.LabelKeys.Reviews]</div>
                </a>
                <ul class="menu-sub">
                    @if (AuthHelper.CanAccess(permissions, Permissions.Product.View))
                    {
                        <li class='menu-item @(AuthHelper.OpenMenuItem(new List<string>{$"/{nameof(Feedback)}"},currentPage))'>
                            <a asp-controller="@nameof(Feedback)" asp-action="List" class="menu-link">
                                <div data-i18n="@_Localizer[string.Concat(Constants.EntityKeys.Feedback, "s")]">@_Localizer[string.Concat(Constants.EntityKeys.Feedback, "s")] </div>
                            </a>
                        </li>
                    }
                    @if (AuthHelper.CanAccess(permissions, Permissions.Review.View))
                    {
                        <li class='menu-item @(AuthHelper.OpenMenuItem(new List<string>{$"/{nameof(ProductReview)}"},currentPage))'>
                            <a asp-controller="@nameof(ProductReview)" asp-action="List" class="menu-link">
                                <div data-i18n="@_Localizer[string.Concat(Constants.EntityKeys.Review, "s")]">@_Localizer[string.Concat(Constants.EntityKeys.Review, "s")] </div>
                            </a>
                        </li>
                    }
                </ul>
            </li>
        }

        @if (AuthHelper.CanAccess(permissions, Permissions.Setting.View))
        {
            <li class='menu-item @(AuthHelper.OpenMenuItem(new List<string>{$"/{nameof(Setting)}",$"/{nameof(Slider)}"},currentPage))'>
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                    <i class='menu-icon tf-icons mdi mdi-cog-outline'></i>
                    <div data-i18n="@_Localizer[Constants.LabelKeys.Setting]">@_Localizer[Constants.LabelKeys.Setting]</div>
                </a>
                <ul class="menu-sub">
                    <li class='menu-item @(AuthHelper.OpenMenuItem(new List<string> {$"/{nameof(Setting)}"},currentPage))'>
                        <a asp-controller="Setting" asp-action="View" class="menu-link">
                            <i class="menu-icon tf-icons mdi mdi-chart-pie"></i>
                            <div data-i18n="@_Localizer[Constants.LabelKeys.Information]">@_Localizer[Constants.LabelKeys.Information]</div>
                        </a>
                    </li>

                    <li class='menu-item @(AuthHelper.OpenMenuItem(new List<string> {$"/{nameof(Slider)}"},currentPage))'>
                        <a asp-controller="Slider" asp-action="List" class="menu-link">
                            <i class="menu-icon tf-icons mdi mdi-chart-pie"></i>
                            <div data-i18n="@_Localizer[Constants.EntityKeys.Slider]">@_Localizer[Constants.EntityKeys.Slider]</div>
                        </a>
                    </li>
                </ul>
            </li>
        }

        @if (AuthHelper.CanAccess(permissions, Permissions.ContactUs.View))
        {
            <li class='menu-item @(AuthHelper.OpenMenuItem(new List<string> {$"/{nameof(ContactUs)}"},currentPage))'>
                <a asp-controller="ContactUs" asp-action="List" class="menu-link">
                    <i class="menu-icon tf-icons mdi mdi-chart-pie"></i>
                    <div data-i18n="@_Localizer[Constants.EntityKeys.ContactUs]">@_Localizer[Constants.EntityKeys.ContactUs]</div>
                </a>
            </li>
        }

        @if (AuthHelper.CanAccess(permissions, Permissions.Views.History))
        {
            <li class='menu-item @(AuthHelper.OpenMenuItem(new List<string> {$"/{nameof(History)}"},currentPage))'>
                <a asp-controller="History" asp-action="List" class="menu-link">
                    <i class="menu-icon tf-icons mdi mdi-chart-pie"></i>
                    <div data-i18n="@_Localizer[Constants.EntityKeys.History]">@_Localizer[Constants.EntityKeys.History]</div>
                </a>
            </li>
        }

      </ul>
</aside>
<!-- / Menu -->
