@using ECommerce.BLL.Features.Products.Dtos
@using ECommerce.BLL.Features.Products.Requests
@using ECommerce.Portal.ViewModels
@model CreateProductViewModel
@inject IStringLocalizer<ProductController> _Localizer;
@inject ILocalizationManger _localizationManger;

@{
    ViewData["Title"] = "Product Add";
}

@section VendorStyles {
    <link rel="stylesheet" href="~/vendor/libs/quill/typography.css">
    <link rel="stylesheet" href="~/vendor/libs/quill/katex.css">
    <link rel="stylesheet" href="~/vendor/libs/quill/editor.css">
    <link rel="stylesheet" href="~/vendor/libs/select2/select2.css">
    <link rel="stylesheet" href="~/vendor/libs/dropzone/dropzone.css">
    <link rel="stylesheet" href="~/vendor/libs/flatpickr/flatpickr.css">
    <link rel="stylesheet" href="~/vendor/libs/tagify/tagify.css" />
}
@section VendorScripts {
    <script src="~/vendor/libs/quill/katex.js"></script>
    <script src="~/vendor/libs/quill/quill.js"></script>
    <script src="~/vendor/libs/select2/select2.js"></script>
    <script src="~/vendor/libs/dropzone/dropzone.js"></script>
    <script src="~/vendor/libs/jquery-repeater/jquery-repeater.js"></script>
    <script src="~/vendor/libs/flatpickr/flatpickr.js"></script>
    <script src="~/vendor/libs/tagify/tagify.js"></script>
}

@section PageScripts {
    <script src="~/js/app-ecommerce-product-add.js"></script>
    <script> const colors = @Html.Raw(Json.Serialize(Model.Colors.Select(c => new { id = c.Id, name = c.Name }))); </script>
}

@* ************** Content ************** *@
<div class="app-ecommerce">
    <form method="post" enctype="multipart/form-data">
        <div class="row">
            <!-- First column-->
            <div class="col-12 col-lg-8">
                <!-- Product Information -->
                <div class="card mb-4">
                    <div class="card-header">
                        <h5 class="card-tile mb-0">@_Localizer[Constants.LabelKeys.ProductInformation]</h5>
                    </div>
                    <div class="card-body">
                        <div class="form-floating form-floating-outline mb-4">
                            <input type="text" class="form-control" id="@nameof(CreateProductRequest.Title)" placeholder="Product title" name="@nameof(CreateProductRequest.Title)" aria-label="@nameof(CreateProductRequest.Title)">
                            <label for="@nameof(CreateProductRequest.Title)">@_Localizer[Constants.EntityKeys.Name]</label>
                        </div>

                        <div class="row mb-3">
                            <div class="col">
                                <div class="form-floating form-floating-outline">
                                    <input type="text" class="form-control" id="@nameof(CreateProductRequest.Code)" placeholder="00000" name="@nameof(CreateProductRequest.Code)" aria-label="@nameof(CreateProductRequest.Code)">
                                    <label for="@nameof(CreateProductRequest.Code)">@_Localizer[Constants.EntityKeys.Code]</label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-floating form-floating-outline">
                                    <input type="text" class="form-control" id="@nameof(CreateProductRequest.Barcode)" placeholder="0123-4567" name="@nameof(CreateProductRequest.Barcode)" aria-label="@nameof(CreateProductRequest.Barcode)">
                                    <label for="@nameof(CreateProductRequest.Barcode)">@_Localizer[Constants.EntityKeys.Barcode]</label>
                                </div>
                            </div>
                        </div>
                        <!-- Comment -->
                        <div>
                            <label class="form-label">@_Localizer[Constants.EntityKeys.Description] <span class="text-muted">(Optional)</span></label>
                            <div class="form-control p-0 pt-1">
                            <div class="comment-toolbar border-0 border-bottom">
                                <div class="d-flex justify-content-start">
                                    <span class="ql-formats me-0">
                                    <button class="ql-bold"></button>
                                    <button class="ql-italic"></button>
                                    <button class="ql-underline"></button>
                                    <button class="ql-list" value="ordered"></button>
                                    <button class="ql-list" value="bullet"></button>
                                    <button class="ql-link"></button>
                                    <button class="ql-image"></button>
                                    </span>
                                </div>
                            </div>
                            <div class="comment-editor border-0 pb-1" id="@nameof(CreateProductRequest.Description)" name="@nameof(CreateProductRequest.Description)">
                        </div>

                    </div>
                </div>
                </div>
            </div>
                <!-- /Product Information -->
                <!-- Media -->
                <div class="card mb-4">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h5 class="mb-0 card-title">@_Localizer[Constants.LabelKeys.Media]</h5>
                        <a href="javascript:void(0);" class="fw-medium">@_Localizer[Constants.LabelKeys.AddMediaFromUrl]</a>
                    </div>
                    <div class="card-body">
                        <div class="dropzone needsclick" id="dropzone-basic">
                            <div class="dz-message needsclick my-5">
                                @_Localizer[Constants.LabelKeys.DragAndDropYourImageHere]
                                <small class="text-muted d-block fs-6 my-2">@_Localizer[Constants.LabelKeys.Or]</small>
                                <span class="needsclick btn btn-outline-primary d-inline" id="btnBrowse">@_Localizer[Constants.LabelKeys.BrowseImage]</span>
                            </div>
                            <div class="fallback">
                                <input name="file" type="file" />
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Media -->
            </div>
            <!-- /First column -->
            <!-- Second column -->
            <div class="col-12 col-lg-4">
                <!-- Pricing Card -->
                <div class="card mb-4">
                    <div class="card-header">
                        <h5 class="card-title mb-0">@_Localizer[Constants.LabelKeys.Pricing]</h5>
                    </div>
                    <div class="card-body">
                        <!-- Base Price -->
                        <div class="form-floating form-floating-outline mb-4">
                            <input type="number" class="form-control" id="@nameof(CreateProductRequest.Price)" placeholder="Price" name="@nameof(CreateProductRequest.Price)" aria-label="@nameof(CreateProductRequest.Price)">
                            <label for="@nameof(CreateProductRequest.Price)">@_Localizer[Constants.EntityKeys.Price]</label>
                        </div>

                        <!-- Discounted Price -->
                        <div class="form-floating form-floating-outline mb-4">
                            <input type="number" class="form-control" id="@nameof(CreateProductRequest.DiscountLabel)" placeholder="@_Localizer[Constants.LabelKeys.DiscountedPrice]" name="@nameof(CreateProductRequest.DiscountLabel)" aria-label="@nameof(CreateProductRequest.DiscountLabel)">
                            <label for="@nameof(CreateProductRequest.DiscountLabel)">@_Localizer[Constants.EntityKeys.DiscountLabel]</label>
                        </div>
                      
                        <!-- Instock switch -->
                        <div class="d-flex justify-content-between align-items-center border-top pt-3">
                            <p class="mb-0">@_Localizer[Constants.EntityKeys.InStock]</p>
                            <div class="w-25 d-flex justify-content-end">
                                <label class="switch switch-primary  me-4 pe-2">
                                    <input type="checkbox" id="@nameof(CreateProductRequest.AllStockOut)" class="switch-input" checked="">
                                    <span class="switch-toggle-slider">
                                        <span class="switch-on">
                                            <span class="switch-off"></span>
                                        </span>
                                    </span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Pricing Card -->
                
                <!-- Organize Card -->
                <div class="card mb-4">
                    <div class="card-header">
                        <h5 class="card-title mb-0">@_Localizer[Constants.LabelKeys.Organize]</h5>
                    </div>
                    <div class="card-body">
                        <!-- Unit -->
                        <div class="mb-3 col ecommerce-select2-dropdown">
                            <div class="form-floating form-floating-outline">
                                <select id="@nameof(CreateProductRequest.UnitID)" class="select2 form-select" data-placeholder="@_Localizer[Constants.LabelKeys.Select] @_Localizer[Constants.EntityKeys.Unit]" name="@nameof(CreateProductRequest.UnitID)" required>
                                    <option value="">@_Localizer[Constants.LabelKeys.Select] @_Localizer[Constants.EntityKeys.Unit]</option>
                                    @foreach (var unit in Model.Units)
                                    {
                                        <option value="@unit.Id">@unit.Name</option>
                                    }
                                </select>
                                <label for="@nameof(CreateProductRequest.UnitID)">@_Localizer[Constants.EntityKeys.Unit]</label>
                            </div>
                        </div>

                        <!-- collections -->
                        <div class="mb-3 col ecommerce-select2-dropdown">
                            <div class="form-floating form-floating-outline">
                                <select id="@nameof(CreateProductRequest.CollectionIDs)" class="select2 form-select" data-placeholder="@_Localizer[Constants.LabelKeys.Select] @_Localizer[Constants.EntityKeys.Collection]" name="@nameof(CreateProductRequest.CollectionIDs)" required>
                                    <option value="">@_Localizer[Constants.LabelKeys.Select] @_Localizer[Constants.EntityKeys.Collection]</option>
                                    @foreach (var collection in Model.Collections)
                                    {
                                        <option value="@collection.Id">@collection.Name</option>
                                    }
                                </select>
                                <label for="@nameof(CreateProductRequest.UnitID)">@_Localizer[Constants.EntityKeys.Collection]</label>
                            </div>
                        </div>

                        <!-- Category -->
                        <div class="mb-4 col ecommerce-select2-dropdown">
                            <div class="form-floating form-floating-outline">
                                <select id="@nameof(CreateProductRequest.CategoryID)" class="select2 form-select" data-placeholder="@_Localizer[Constants.LabelKeys.Select] @_Localizer[Constants.EntityKeys.Category]" name="@nameof(CreateProductRequest.CategoryID)" required>
                                <option value="">@_Localizer[Constants.LabelKeys.Select] @_Localizer[Constants.EntityKeys.Category]</option>
                                    @foreach (var category in Model.Categories)
                                    {
                                        <option value="@category.Id">@category.Name</option>
                                    }
                                </select>
                                <label for="@nameof(CreateProductRequest.CategoryID)">@_Localizer[Constants.EntityKeys.Category]</label>
                            </div>
                        </div>

                        <!-- SubCategory -->
                        <div class="mb-4 col ecommerce-select2-dropdown" id="subCategoryContainer">
                            <div class="form-floating form-floating-outline">
                                <select id="@nameof(CreateProductRequest.SubCategoryID)" class="select2 form-select" data-placeholder="@_Localizer[Constants.LabelKeys.Select] @_Localizer[Constants.EntityKeys.SubCategory]" name="@nameof(CreateProductRequest.SubCategoryID)">
                                 <option value="">@_Localizer[Constants.LabelKeys.Select] @_Localizer[Constants.EntityKeys.SubCategory]</option>
                                </select>
                                <label for="@nameof(CreateProductRequest.SubCategoryID)">@_Localizer[Constants.EntityKeys.SubCategory]</label>
                            </div>
                        </div>

                        <!-- Brand -->
                        <div class="mb-4 col ecommerce-select2-dropdown">
                            <div class="form-floating form-floating-outline">
                                <select id="@nameof(CreateProductRequest.BrandID)" class="select2 form-select" data-placeholder="@_Localizer[Constants.LabelKeys.Select] @_Localizer[Constants.EntityKeys.Brand]" name="@nameof(CreateProductRequest.BrandID)">
                                    <option value="">@_Localizer[Constants.LabelKeys.Select] @_Localizer[Constants.EntityKeys.Brand]</option>
                                    @foreach (var brand in Model.Brands)
                                    {
                                        <option value="@brand.Id">@brand.Name</option>
                                    }
                                </select>
                                <label for="@nameof(CreateProductRequest.BrandID)">@_Localizer[Constants.EntityKeys.Brand]</label>
                            </div>
                        </div>

                        <!-- Tags -->
                        <div class="mb-3">
                            <div class="form-floating form-floating-outline">
                                <input id="@nameof(CreateProductRequest.TagIDs)" name="@nameof(CreateProductRequest.TagIDs)" class="form-control h-auto" placeholder="@_Localizer[Constants.LabelKeys.Select] @_Localizer[Constants.EntityKeys.Tags]" value="">
                                <label for="@nameof(CreateProductRequest.TagIDs)">@_Localizer[Constants.EntityKeys.Tags]</label>
                                <input type="hidden" id="tagsWhiteList" value="@string.Join(",",Model.Tags.Select(x=> x.Name).ToList())">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Organize Card -->
            </div>
            <!-- /Second column -->
        </div>
        <div class="d-flex align-content-center flex-wrap gap-3 justify-content-end mt-4">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </form>
</div>

